:root {
  --custom-fonts: 'Custom', sans-serif;
  font-size: 16px;

  --gal-date-color: #37b8eb;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: var(--custom-fonts);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li,
nav li {
  list-style: none;
}

img {
  vertical-align: top;
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-size: inherit;
  font-weight: inherit; */
}

/*--------------------*/

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content {
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto 3rem auto;
  padding: 0 30px;
}


.title {
  text-align: center;
}

.title h2 {
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 3rem;
}

.title p {
  font-size: 18px;
  line-height: 29px;
}

/* ---------Main Page--------- */


.gallery {
  display: -ms-grid;
  display: grid;


  -ms-grid-rows: auto;


  grid-template-rows: auto;
}

.home .gallery {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.album .gallery {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.gal_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.home .gal_item {
  max-height: 550px;
}

.album .gal_item {
  position: relative;
  height: 200px;
}

.album .gal_item:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url(/assets/img/icons/vektor-arrow.svg) center / 50px 50px no-repeat rgba(22, 22, 22, 0.8);
}

.album .gal_item:hover:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gal_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.img1 {
  background-image: url('img/gallery/img1.webp');
}

.image_info {
  padding: 20px;
  background-color: #1a1a1a;
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.image_info h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.date {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  color: var(--gal-date-color);
  padding-left: 25px;
}

.date::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--gal-date-color);
  border-radius: 3px;
  background-color: var(--gal-date-color);
}


/* ---------Gallery Page--------- */


/* --------- Album Page --------- */
.album__view-more {
  margin: 20px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 150px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
